header {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
     @include breakpoint(xs) {display: none;}
      @include breakpoint(lg){ height: 120px; }
     @include breakpoint(md){ height: 100px; }
     @include breakpoint(sm){ height: 90px; }
}
.main-logo img {
    @include breakpoint(md){width: 187px; }
     @include breakpoint(sm){width: 150px; }
    height: auto;
}

.website-header {
        background: #353535;
    @include breakpoint(lg){
        margin: 0;
        padding: 21px 100px;

    }
    @include breakpoint(md){
        margin: 0;
        padding: 21px 80px;
    }
    @include breakpoint(sm){
        margin: 0;
        padding: 21px 50px;
    }
}
#chat-icon {
     @include breakpoint(xs){display: none; }
    @include breakpoint(sm){
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 999;
    }
    img {
        max-height: 180px;
        width: 100%;
    }
}