.content-body {
	background: url('../images/banner.png') no-repeat;
	background-size: cover;
	height: 90vh;

	&:before {
		content: '';
	    background: rgba(53, 53, 53, 0.85);
	    position: absolute;top: 0;
	    width: 100%;
	    height: 100%;
	}
    @include breakpoint(md){ height: 91vh; }
    position: relative;

    .main-category {
    	
    	 color: #fff; text-transform: uppercase;
    	 font-family: 'SairaCondensed-Bold';position: relative;
    	 text-align: center;
    	   @include breakpoint(lg){
    	   	 position:absolute;
	    	 top: 50%;    z-index: 99;
			 left: 50%;
			 transform: translate(-50%, -50%);
    	   }
    	 span p{
    	 	 @include breakpoint(lg){
	    	  	font-size: 48px;
	    	  	line-height: 57px;
	    	  	padding: 20px 0;
    	 	 }
    	 	  @include breakpoint(md){
	    	  	font-size: 40px;
	    	  	line-height: 50px;
	    	  	padding: 15px 0;
    	 	 }

    	 	   @include breakpoint(sm){
	    	  	font-size: 28px;
	    	  	line-height: 39px;
	    	  	padding: 25px 0; margin: 0;
    	 	 }
    	 	   @include breakpoint(xs){
	    	  	font-size: 24px;
	    	  	line-height: 35px;
	    	  	padding: 25px 0; margin: 0;
    	 	 }

    	 }
    	 p {
    	 	@include breakpoint(lg){
	    	  	font-size: 60px;
	    	  	line-height: 72px;
	    	  	padding: 20px 0;
    	 	 }
    	 	@include breakpoint(md){
	    	  	font-size: 50px;
	    	  	line-height: 62px;
	    	  	padding: 15px 0;
    	 	 }
    	 	  @include breakpoint(sm){
	    	  	font-size: 35px;
	    	  	line-height: 41px;
	    	  	padding: 20px 0 10px; margin: 0;
    	 	 }
    	 	 @include breakpoint(xs){
	    	  	font-size: 30px;
	    	  	line-height: 36px;
	    	  	padding: 20px 0 10px; margin: 0;
    	 	 }
    	 }
    	

    	  .yellow-border {
    	  	border: 1px solid #FF6900;
    	  	max-width: 150px;
    		margin: auto;
    	  }
    }
    .corner-image {
    	@include breakpoint(sm){text-align: center; }
    	img {
    		  @include breakpoint(xlg){ max-height: 600px;}
    		  @include breakpoint(mlg){ max-height: 500px;}
    		   @include breakpoint(lg){ max-height: 400px;}
    		   @include breakpoint(md){ max-height: 300px;}
    		  @include breakpoint(sm){ max-height: 300px;}
    	}
	      @include breakpoint(lg){
	    	position:absolute;
	    	bottom: 0; right: 0;
	   	 }
    }

    .choose {
	    
	    margin: auto;
	    display: inline-block;
	     @include breakpoint(lg){
	     	max-width: 500px;
	     }
	     @include breakpoint(md){
	     	max-width: 400px;
	     }
	      @include breakpoint(sm){
	     	max-width: 400px;
	     }
	     @include breakpoint(xs){
	     	max-width: 90%;
	     }
	}


    .box {
		 font-family: 'Norwester-Regular';
	    text-transform: uppercase;
	    color: #fff;
	    background: #FF6900;
	    padding: 34px 10px;
	        border-radius: 70px;
	    text-align: center;
	    max-width: 500px;
	    margin: 15px auto;
	    width: 100%;
	    a { color: #fff; }
	    a {
	    	&:hover {
	    		color: #fff;
	    	}
	    }
	      @include breakpoint(xlg){
	      	font-size: 60px;
	    	line-height: 72px;
	      }
	       @include breakpoint(lg){
	      	font-size: 50px;
	    	line-height: 62px;
	    	padding: 34px 10px;
	      }
	       @include breakpoint(md){
	      	font-size: 40px;
	    	line-height: 52px;
	    	padding: 25px 10px;
	      }
	      @include breakpoint(sm){
	      	font-size: 35px;
	    	line-height: 40px;
	    	padding: 20px 10px;
	      }
	       @include breakpoint(xs){
	      	font-size: 30px;
	    	line-height: 36px;
	    	 padding: 20px 10px;
	    	  margin: 7px auto;
	      }
	    img {
	    	max-height: 60px; 
	    	@include breakpoint(xs){  max-height: 30px;  }
	    }
	}
  
}

.content-body-inner {
   @include breakpoint(xlg){  padding: 50px 0 60px; }
   @include breakpoint(lg){  padding: 40px 0 60px; }
   @include breakpoint(xs){  padding-top: 20px; }
}
.page-content {
		 @include breakpoint(xlg){ padding-bottom: 40px;}
		  @include breakpoint(lg){ padding-bottom: 30px;}
		  @include breakpoint(sm){ padding-bottom: 25px;}
}

.page-title {
	font-family: 'Norwester-Regular'; text-transform: uppercase; text-align: center;
	color: #FF6900;
	 @include breakpoint(xlg){ font-size: 36px; line-height: 43px;padding-bottom: 40px;}
	 @include breakpoint(lg){ font-size: 30px; line-height: 37px;padding-bottom: 35px;}
	 @include breakpoint(md){ font-size: 25px; line-height: 30px;padding-bottom: 30px;}
	  @include breakpoint(sm){ font-size: 25px; line-height: 30px;padding: 30px 0;}
	  @include breakpoint(xs){ font-size: 25px; line-height: 30px;padding-bottom: 30px;}
}
  .main-content {
  	
  	padding-bottom: 50px;
  	font-family: 'Norwester-Regular'; text-transform: uppercase;
  	 @include breakpoint(md){ padding: 20px 50px;}
  }
  	.icon {
		  		height: 150px; width: 150px;
		  		 @include breakpoint(xs){height: 50px; width: 50px; }
		  	}
  .start-browsing {
  	text-align: center;

  	  @include breakpoint(xlg){ padding:55px;}
  	  @include breakpoint(lg){ padding:45px;}
  	 @include breakpoint(sm){ padding:25px;}
	   @include breakpoint(xs){ padding:25px;}

		span {
			color: #2F9513;font-family: 'Norwester-Regular';display: block;text-transform: uppercase;
			padding:25px 0;
			 @include breakpoint(xlg){ font-size: 60px; line-height: 72px;}
			 @include breakpoint(lg){ font-size: 45px; line-height: 55px;}
		}

		a {
			background: #f96900; color: #fff;
    		font-family: 'Norwester-Regular';
    		padding: 20px 50px;  border-radius:60px;
    		display: block; margin: auto;
    		@include breakpoint(xlg){ font-size: 60px; line-height: 72px; max-width: 650px;}
    		@include breakpoint(md){ font-size: 48px; line-height: 60px; max-width: 550px;}
    		@include breakpoint(sm){ font-size: 35px; line-height: 45px; max-width: 450px; }
    		@include breakpoint(xs){ font-size: 25px; line-height: 30px; max-width: 100%; padding: 15px 10px;}
		}
  }

  .extra {
        background: #E0DED8;
	    display: inline-block;
	    width: 100%;
	    margin: 45px 0 0;
	    padding: 40px 0;
	     @include breakpoint(xs){  padding: 20px 0;}
	    p {
	    	font-family: 'Source Sans Pro', sans-serif;   text-transform: initial;

	    }
	     .image {
	     	 @include breakpoint(xs){ text-align: center;padding-bottom: 15px; }
	     }
		    .image, .text {
			   @include breakpoint(sm){  padding-left: 15px; display: table-cell; }
			    vertical-align: middle;
			    font-family: 'Norwester-Regular';
			    text-transform: uppercase;
			    
			}

	    .extra-inner {
	    	 @include breakpoint(md){
		    	display: flex;
		    	vertical-align: middle;
		    	justify-content: center;
		    	align-items:center;
		    }
	    }
	    strong {
	    	  font-family: 'Norwester-Regular';
		      text-transform: uppercase;
		      font-weight: 100;
		       @include breakpoint(xlg){ font-size: 40px; line-height: 48px; }
		       @include breakpoint(mlg){ font-size: 38px; line-height: 45px; }
	    }
	    .two {
	    	text-align: left;
	    }
}

div#to-do-lists {
    padding: 35px 15px;
    border: 6px solid #353535;
    
     @include breakpoint(xs){
    	padding: 0;
    }
    .border {
    	border-bottom:1px solid #E0DED8;
    	padding: 15px 10px;
    	 @include breakpoint(lg){
    	 	
	    	padding: 15px 10px;
	    	display: flex;
		    vertical-align: middle;
		    align-items: center;
    	 }
    	 
    	
    }
    .two, .three {
    	p { margin: 0; }
    		a{ font-family: 'Source Sans Pro', sans-serif;    color: #FF6900; text-decoration: underline; }

    	font-family: 'Source Sans Pro', sans-serif;   text-transform: initial;
    	 @include breakpoint(xs){
    	 	padding:10px 0;
    	 } 
    	 @include breakpoint(lg){
    	 	padding:10px 20px;
    	 }
    	  @include breakpoint(sm){
    	 	padding:10px 0;
    	 }

		      @include breakpoint(xlg){
			  	font-size: 22px; line-height: 27px;
			  }
			  @include breakpoint(lg){
			  	font-size: 18px; line-height: 24px;
			  }
			   @include breakpoint(xs){
			   	padding: 10px 15px; text-align: center;
			   }
    }
    .name a {
			padding-right: 100px;
		}
	 .name {
	 	
		    display: table-cell;
		    vertical-align: middle;
		     font-family: 'Norwester-Regular';
		     text-transform: uppercase;
		     padding-left: 15px;

		     

		      @include breakpoint(xlg){
			  	font-size: 34px; line-height: 40px;
			  }
			   @include breakpoint(md){
			  	font-size: 29px; line-height: 37px;
			  }
			  @include breakpoint(sm){
			  	font-size: 23px; line-height: 28px;
			  }
			   @include breakpoint(xs){
			  	font-size: 20px; line-height: 23px;
			  }


		}
    .step {
		    display: table-cell;
		    height: 100px;width: 100px;
		    vertical-align: middle;
		    background: #FF6900;
		    font-family: 'Norwester-Regular';text-transform: uppercase;
		    border-radius: 50%;
		    color: #fff;
		    text-align: center;
		      @include breakpoint(xlg){
			  	font-size: 31px; line-height: 34px;
			  }
			    @include breakpoint(md){
			  	font-size: 25px; line-height: 29px;
			  	 height: 100px;width: 100px;
			  }
			  @include breakpoint(sm){
			  	font-size: 17px; line-height: 22px;
			  	height: 75px;width: 75px;
			  }
			   @include breakpoint(xs){
			   	 height: 50px;width: 50px;
			   	 font-size: 12px; line-height: 14px;
			   }

		}

	}
	ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
			 @include breakpoint(xs){   background: #E0DED8; }
			@include breakpoint(sm){
				display: flex;
    			justify-content: space-between;
    		}
		}
		
		ul.tabs li {
			background: none;
			color: #222;
			display: inline-block;
			padding: 34px 15px;
			cursor: pointer;
			font-family: 'SairaCondensed-Bold';
			text-transform: uppercase;
			
    		background: #E0DED8;   

			 @include breakpoint(xlg){
			  	font-size: 50px; line-height: 60px;
			  	 padding: 30px 15px;
    			text-align: center;
			  }
 				@include breakpoint(mlg){
			      font-size: 45px;
				    line-height: 55px;
				    padding: 34px 10px;
				    text-align: center;
				}

			    @include breakpoint(lg){
				  	 font-size: 45px; line-height: 55px;
				  	 padding: 34px 25px;
	    			 text-align: center;
			  }

			  @include breakpoint(md){ 
			  	    font-size: 38px;
				    line-height: 45px;
				    padding: 16px 15px;
				    text-align: center;
			  }
			    @include breakpoint(sm){
			  	font-size: 30px;
			    line-height: 35px;
			    padding: 16px 15px;
			    text-align: center;width: 50%;border-radius: 25px 25px 0 0;
			  }
			   @include breakpoint(xs){
			  	    font-size: 20px;
				    line-height: 24px;
				    padding: 15px 15px;
				    text-align: center;
			  }
		}

		ul.tabs li.current{
			background: #353535;
			color: #fff;
		}

		.tab-content{
			display: none;
			background: #fff;
			padding: 15px;
			 @include breakpoint(xs){
			 	padding: 0;
			 }
		}

		.tab-content.current{
			    display: inline-block;
   			 width: 100%;
		}
		#html5-watermark div {
			display: none; background:transparent !important;
		}
.html5-image{
	padding:0 !important;
}
.divdescription{
	padding:15px 25px;
	border: 6px solid #353535;
	font-family: 'Source Sans Pro', sans-serif;   text-transform: initial;
	 @include breakpoint(md){
			 font-size: 18px; line-height: 25px;
		}
	text-align: left;
	b {
		font-family: 'Norwester-Regular';text-transform: uppercase;font-weight: 100;    color: #FF6900;
		 @include breakpoint(md){
			 font-size: 40px; line-height: 50px;
		}
	}
}
.html5-close {

}
.wplightbox {
	font-family: 'HelveticaNeueLTStd-Md';text-decoration: underline;    text-transform: none;
    color: #fff;
    &:hover{ color:#fff; }
}
.html5-title { display: none; }
.html5-elem-box, .html5-elem-wrap {
	 @include breakpoint(md){height: 587px !important;}

}
.divtitle {
	    font-size: 27px;
  
    margin: 0 !important;
    background: #353535;
    padding: 30px 0;
    color: #fff;
    z-index: 99999;
	font-family: 'Norwester-Regular';text-transform: uppercase;
	@include breakpoint(md){
			font-size: 55px !important; line-height: 65px;
			   text-align: center;
			}
}
.name a {
    padding-right: 100px;
}

.mobmenu-content li {
	    border-bottom: 1px solid #414042;
}
.mobmenu-content a {

	 
	 font-family: 'SairaCondensed-Bold' !important;
	text-transform: uppercase !important;
}
h1, .h1 {
	@include breakpoint(lg) {font-size: 46px; }
	@include breakpoint(md) {font-size: 40px; }
	@include breakpoint(sm) {font-size: 36px;}
	@include breakpoint(xs) {font-size: 25px;}
}

.chat-mobile {
    display: none !important;
    a {
    	 @include breakpoint(xs) { color: transparent !important; font-size: 0 !important; padding: 27px 20px !important;}
    }
    @include breakpoint(xs) {

        display: block !important;
	    position: absolute;
	    bottom: 0;
	    border: none;
	    width: 100%;    height: 60px;
	    background: #e0ded8 url('../images/chatmenu.svg') no-repeat;
	    background-position: center;
	}
}

