/* line 1, ../sass/partials/_nav.scss */
#nav-container {
  font-family: 'Norwester-Regular';
}
/* line 4, ../sass/partials/_nav.scss */
#nav-container #responsive_current_menu_item {
  display: none;
}
/* line 5, ../sass/partials/_nav.scss */
#nav-container .current_page_item a {
  background: #FF6900;
  /*   padding: 16px 10px;
      @include breakpoint(md){padding: 16px 10px; }
      @include breakpoint(sm){padding: 12px 8px; }*/
  display: inline-block;
  color: #fff;
  border-radius: 30px;
}
/* line 15, ../sass/partials/_nav.scss */
#nav-container ul {
  margin: 0;
}
/* line 16, ../sass/partials/_nav.scss */
#nav-container li {
  display: inline-block;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  /* line 16, ../sass/partials/_nav.scss */
  #nav-container li {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  /* line 16, ../sass/partials/_nav.scss */
  #nav-container li {
    padding: 0 8px;
  }
}
/* line 21, ../sass/partials/_nav.scss */
#nav-container li:last-child {
  padding-right: 0;
}
/* line 29, ../sass/partials/_nav.scss */
#nav-container li a {
  color: #fff;
}
/* line 31, ../sass/partials/_nav.scss */
#nav-container li a:hover {
  color: #fff;
  background: #FF6900;
  padding: 16px 20px;
  border-radius: 30px;
}
@media (min-width: 992px) {
  /* line 31, ../sass/partials/_nav.scss */
  #nav-container li a:hover {
    padding: 16px 20px;
  }
}
@media (min-width: 768px) {
  /* line 31, ../sass/partials/_nav.scss */
  #nav-container li a:hover {
    padding: 12px 8px;
  }
}
@media (min-width: 992px) {
  /* line 29, ../sass/partials/_nav.scss */
  #nav-container li a {
    font-size: 24px;
    line-height: 28.8px;
    padding: 16px 20px;
  }
}
@media (min-width: 768px) {
  /* line 29, ../sass/partials/_nav.scss */
  #nav-container li a {
    font-size: 20px;
    line-height: 25.8px;
    padding: 12px 8px;
  }
}

/* line 1, ../sass/partials/main.scss */
.content-body {
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
}
/* line 6, ../sass/partials/main.scss */
.content-body:before {
  content: '';
  background: rgba(53, 53, 53, 0.85);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  /* line 1, ../sass/partials/main.scss */
  .content-body {
    height: 91vh;
  }
}
/* line 16, ../sass/partials/main.scss */
.content-body .main-category {
  color: #fff;
  text-transform: uppercase;
  font-family: 'SairaCondensed-Bold';
  position: relative;
  text-align: center;
}
@media (min-width: 1200px) {
  /* line 16, ../sass/partials/main.scss */
  .content-body .main-category {
    position: absolute;
    top: 50%;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1200px) {
  /* line 27, ../sass/partials/main.scss */
  .content-body .main-category span p {
    font-size: 48px;
    line-height: 57px;
    padding: 20px 0;
  }
}
@media (min-width: 992px) {
  /* line 27, ../sass/partials/main.scss */
  .content-body .main-category span p {
    font-size: 40px;
    line-height: 50px;
    padding: 15px 0;
  }
}
@media (min-width: 768px) {
  /* line 27, ../sass/partials/main.scss */
  .content-body .main-category span p {
    font-size: 28px;
    line-height: 39px;
    padding: 25px 0;
    margin: 0;
  }
}
@media (max-width: 767px) {
  /* line 27, ../sass/partials/main.scss */
  .content-body .main-category span p {
    font-size: 24px;
    line-height: 35px;
    padding: 25px 0;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  /* line 51, ../sass/partials/main.scss */
  .content-body .main-category p {
    font-size: 60px;
    line-height: 72px;
    padding: 20px 0;
  }
}
@media (min-width: 992px) {
  /* line 51, ../sass/partials/main.scss */
  .content-body .main-category p {
    font-size: 50px;
    line-height: 62px;
    padding: 15px 0;
  }
}
@media (min-width: 768px) {
  /* line 51, ../sass/partials/main.scss */
  .content-body .main-category p {
    font-size: 35px;
    line-height: 41px;
    padding: 20px 0 10px;
    margin: 0;
  }
}
@media (max-width: 767px) {
  /* line 51, ../sass/partials/main.scss */
  .content-body .main-category p {
    font-size: 30px;
    line-height: 36px;
    padding: 20px 0 10px;
    margin: 0;
  }
}
/* line 75, ../sass/partials/main.scss */
.content-body .main-category .yellow-border {
  border: 1px solid #FF6900;
  max-width: 150px;
  margin: auto;
}
@media (min-width: 768px) {
  /* line 81, ../sass/partials/main.scss */
  .content-body .corner-image {
    text-align: center;
  }
}
@media (min-width: 1700px) {
  /* line 83, ../sass/partials/main.scss */
  .content-body .corner-image img {
    max-height: 600px;
  }
}
@media (min-width: 1500px) {
  /* line 83, ../sass/partials/main.scss */
  .content-body .corner-image img {
    max-height: 500px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../sass/partials/main.scss */
  .content-body .corner-image img {
    max-height: 400px;
  }
}
@media (min-width: 992px) {
  /* line 83, ../sass/partials/main.scss */
  .content-body .corner-image img {
    max-height: 300px;
  }
}
@media (min-width: 768px) {
  /* line 83, ../sass/partials/main.scss */
  .content-body .corner-image img {
    max-height: 300px;
  }
}
@media (min-width: 1200px) {
  /* line 81, ../sass/partials/main.scss */
  .content-body .corner-image {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/* line 96, ../sass/partials/main.scss */
.content-body .choose {
  margin: auto;
  display: inline-block;
}
@media (min-width: 1200px) {
  /* line 96, ../sass/partials/main.scss */
  .content-body .choose {
    max-width: 500px;
  }
}
@media (min-width: 992px) {
  /* line 96, ../sass/partials/main.scss */
  .content-body .choose {
    max-width: 400px;
  }
}
@media (min-width: 768px) {
  /* line 96, ../sass/partials/main.scss */
  .content-body .choose {
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  /* line 96, ../sass/partials/main.scss */
  .content-body .choose {
    max-width: 90%;
  }
}
/* line 115, ../sass/partials/main.scss */
.content-body .box {
  font-family: 'Norwester-Regular';
  text-transform: uppercase;
  color: #fff;
  background: #FF6900;
  padding: 34px 10px;
  border-radius: 70px;
  text-align: center;
  max-width: 500px;
  margin: 15px auto;
  width: 100%;
}
/* line 126, ../sass/partials/main.scss */
.content-body .box a {
  color: #fff;
}
/* line 128, ../sass/partials/main.scss */
.content-body .box a:hover {
  color: #fff;
}
@media (min-width: 1700px) {
  /* line 115, ../sass/partials/main.scss */
  .content-body .box {
    font-size: 60px;
    line-height: 72px;
  }
}
@media (min-width: 1200px) {
  /* line 115, ../sass/partials/main.scss */
  .content-body .box {
    font-size: 50px;
    line-height: 62px;
    padding: 34px 10px;
  }
}
@media (min-width: 992px) {
  /* line 115, ../sass/partials/main.scss */
  .content-body .box {
    font-size: 40px;
    line-height: 52px;
    padding: 25px 10px;
  }
}
@media (min-width: 768px) {
  /* line 115, ../sass/partials/main.scss */
  .content-body .box {
    font-size: 35px;
    line-height: 40px;
    padding: 20px 10px;
  }
}
@media (max-width: 767px) {
  /* line 115, ../sass/partials/main.scss */
  .content-body .box {
    font-size: 30px;
    line-height: 36px;
    padding: 20px 10px;
    margin: 7px auto;
  }
}
/* line 157, ../sass/partials/main.scss */
.content-body .box img {
  max-height: 60px;
}
@media (max-width: 767px) {
  /* line 157, ../sass/partials/main.scss */
  .content-body .box img {
    max-height: 30px;
  }
}

@media (min-width: 1700px) {
  /* line 165, ../sass/partials/main.scss */
  .content-body-inner {
    padding: 50px 0 60px;
  }
}
@media (min-width: 1200px) {
  /* line 165, ../sass/partials/main.scss */
  .content-body-inner {
    padding: 40px 0 60px;
  }
}
@media (max-width: 767px) {
  /* line 165, ../sass/partials/main.scss */
  .content-body-inner {
    padding-top: 20px;
  }
}

@media (min-width: 1700px) {
  /* line 170, ../sass/partials/main.scss */
  .page-content {
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  /* line 170, ../sass/partials/main.scss */
  .page-content {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  /* line 170, ../sass/partials/main.scss */
  .page-content {
    padding-bottom: 25px;
  }
}

/* line 176, ../sass/partials/main.scss */
.page-title {
  font-family: 'Norwester-Regular';
  text-transform: uppercase;
  text-align: center;
  color: #FF6900;
}
@media (min-width: 1700px) {
  /* line 176, ../sass/partials/main.scss */
  .page-title {
    font-size: 36px;
    line-height: 43px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  /* line 176, ../sass/partials/main.scss */
  .page-title {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 35px;
  }
}
@media (min-width: 992px) {
  /* line 176, ../sass/partials/main.scss */
  .page-title {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  /* line 176, ../sass/partials/main.scss */
  .page-title {
    font-size: 25px;
    line-height: 30px;
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  /* line 176, ../sass/partials/main.scss */
  .page-title {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 30px;
  }
}

/* line 185, ../sass/partials/main.scss */
.main-content {
  padding-bottom: 50px;
  font-family: 'Norwester-Regular';
  text-transform: uppercase;
}
@media (min-width: 992px) {
  /* line 185, ../sass/partials/main.scss */
  .main-content {
    padding: 20px 50px;
  }
}

/* line 191, ../sass/partials/main.scss */
.icon {
  height: 150px;
  width: 150px;
}
@media (max-width: 767px) {
  /* line 191, ../sass/partials/main.scss */
  .icon {
    height: 50px;
    width: 50px;
  }
}

/* line 195, ../sass/partials/main.scss */
.start-browsing {
  text-align: center;
}
@media (min-width: 1700px) {
  /* line 195, ../sass/partials/main.scss */
  .start-browsing {
    padding: 55px;
  }
}
@media (min-width: 1200px) {
  /* line 195, ../sass/partials/main.scss */
  .start-browsing {
    padding: 45px;
  }
}
@media (min-width: 768px) {
  /* line 195, ../sass/partials/main.scss */
  .start-browsing {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  /* line 195, ../sass/partials/main.scss */
  .start-browsing {
    padding: 25px;
  }
}
/* line 203, ../sass/partials/main.scss */
.start-browsing span {
  color: #2F9513;
  font-family: 'Norwester-Regular';
  display: block;
  text-transform: uppercase;
  padding: 25px 0;
}
@media (min-width: 1700px) {
  /* line 203, ../sass/partials/main.scss */
  .start-browsing span {
    font-size: 60px;
    line-height: 72px;
  }
}
@media (min-width: 1200px) {
  /* line 203, ../sass/partials/main.scss */
  .start-browsing span {
    font-size: 45px;
    line-height: 55px;
  }
}
/* line 210, ../sass/partials/main.scss */
.start-browsing a {
  background: #f96900;
  color: #fff;
  font-family: 'Norwester-Regular';
  padding: 20px 50px;
  border-radius: 60px;
  display: block;
  margin: auto;
}
@media (min-width: 1700px) {
  /* line 210, ../sass/partials/main.scss */
  .start-browsing a {
    font-size: 60px;
    line-height: 72px;
    max-width: 650px;
  }
}
@media (min-width: 992px) {
  /* line 210, ../sass/partials/main.scss */
  .start-browsing a {
    font-size: 48px;
    line-height: 60px;
    max-width: 550px;
  }
}
@media (min-width: 768px) {
  /* line 210, ../sass/partials/main.scss */
  .start-browsing a {
    font-size: 35px;
    line-height: 45px;
    max-width: 450px;
  }
}
@media (max-width: 767px) {
  /* line 210, ../sass/partials/main.scss */
  .start-browsing a {
    font-size: 25px;
    line-height: 30px;
    max-width: 100%;
    padding: 15px 10px;
  }
}

/* line 222, ../sass/partials/main.scss */
.extra {
  background: #E0DED8;
  display: inline-block;
  width: 100%;
  margin: 45px 0 0;
  padding: 40px 0;
}
@media (max-width: 767px) {
  /* line 222, ../sass/partials/main.scss */
  .extra {
    padding: 20px 0;
  }
}
/* line 229, ../sass/partials/main.scss */
.extra p {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: initial;
}
@media (max-width: 767px) {
  /* line 233, ../sass/partials/main.scss */
  .extra .image {
    text-align: center;
    padding-bottom: 15px;
  }
}
/* line 236, ../sass/partials/main.scss */
.extra .image, .extra .text {
  vertical-align: middle;
  font-family: 'Norwester-Regular';
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 236, ../sass/partials/main.scss */
  .extra .image, .extra .text {
    padding-left: 15px;
    display: table-cell;
  }
}
@media (min-width: 992px) {
  /* line 244, ../sass/partials/main.scss */
  .extra .extra-inner {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }
}
/* line 252, ../sass/partials/main.scss */
.extra strong {
  font-family: 'Norwester-Regular';
  text-transform: uppercase;
  font-weight: 100;
}
@media (min-width: 1700px) {
  /* line 252, ../sass/partials/main.scss */
  .extra strong {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 1500px) {
  /* line 252, ../sass/partials/main.scss */
  .extra strong {
    font-size: 38px;
    line-height: 45px;
  }
}
/* line 259, ../sass/partials/main.scss */
.extra .two {
  text-align: left;
}

/* line 264, ../sass/partials/main.scss */
div#to-do-lists {
  padding: 35px 15px;
  border: 6px solid #353535;
}
@media (max-width: 767px) {
  /* line 264, ../sass/partials/main.scss */
  div#to-do-lists {
    padding: 0;
  }
}
/* line 271, ../sass/partials/main.scss */
div#to-do-lists .border {
  border-bottom: 1px solid #E0DED8;
  padding: 15px 10px;
}
@media (min-width: 1200px) {
  /* line 271, ../sass/partials/main.scss */
  div#to-do-lists .border {
    padding: 15px 10px;
    display: flex;
    vertical-align: middle;
    align-items: center;
  }
}
/* line 284, ../sass/partials/main.scss */
div#to-do-lists .two, div#to-do-lists .three {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: initial;
}
/* line 285, ../sass/partials/main.scss */
div#to-do-lists .two p, div#to-do-lists .three p {
  margin: 0;
}
/* line 286, ../sass/partials/main.scss */
div#to-do-lists .two a, div#to-do-lists .three a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FF6900;
  text-decoration: underline;
}
@media (max-width: 767px) {
  /* line 284, ../sass/partials/main.scss */
  div#to-do-lists .two, div#to-do-lists .three {
    padding: 10px 0;
  }
}
@media (min-width: 1200px) {
  /* line 284, ../sass/partials/main.scss */
  div#to-do-lists .two, div#to-do-lists .three {
    padding: 10px 20px;
  }
}
@media (min-width: 768px) {
  /* line 284, ../sass/partials/main.scss */
  div#to-do-lists .two, div#to-do-lists .three {
    padding: 10px 0;
  }
}
@media (min-width: 1700px) {
  /* line 284, ../sass/partials/main.scss */
  div#to-do-lists .two, div#to-do-lists .three {
    font-size: 22px;
    line-height: 27px;
  }
}
@media (min-width: 1200px) {
  /* line 284, ../sass/partials/main.scss */
  div#to-do-lists .two, div#to-do-lists .three {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  /* line 284, ../sass/partials/main.scss */
  div#to-do-lists .two, div#to-do-lists .three {
    padding: 10px 15px;
    text-align: center;
  }
}
/* line 309, ../sass/partials/main.scss */
div#to-do-lists .name a {
  padding-right: 100px;
}
/* line 312, ../sass/partials/main.scss */
div#to-do-lists .name {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Norwester-Regular';
  text-transform: uppercase;
  padding-left: 15px;
}
@media (min-width: 1700px) {
  /* line 312, ../sass/partials/main.scss */
  div#to-do-lists .name {
    font-size: 34px;
    line-height: 40px;
  }
}
@media (min-width: 992px) {
  /* line 312, ../sass/partials/main.scss */
  div#to-do-lists .name {
    font-size: 29px;
    line-height: 37px;
  }
}
@media (min-width: 768px) {
  /* line 312, ../sass/partials/main.scss */
  div#to-do-lists .name {
    font-size: 23px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  /* line 312, ../sass/partials/main.scss */
  div#to-do-lists .name {
    font-size: 20px;
    line-height: 23px;
  }
}
/* line 337, ../sass/partials/main.scss */
div#to-do-lists .step {
  display: table-cell;
  height: 100px;
  width: 100px;
  vertical-align: middle;
  background: #FF6900;
  font-family: 'Norwester-Regular';
  text-transform: uppercase;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
@media (min-width: 1700px) {
  /* line 337, ../sass/partials/main.scss */
  div#to-do-lists .step {
    font-size: 31px;
    line-height: 34px;
  }
}
@media (min-width: 992px) {
  /* line 337, ../sass/partials/main.scss */
  div#to-do-lists .step {
    font-size: 25px;
    line-height: 29px;
    height: 100px;
    width: 100px;
  }
}
@media (min-width: 768px) {
  /* line 337, ../sass/partials/main.scss */
  div#to-do-lists .step {
    font-size: 17px;
    line-height: 22px;
    height: 75px;
    width: 75px;
  }
}
@media (max-width: 767px) {
  /* line 337, ../sass/partials/main.scss */
  div#to-do-lists .step {
    height: 50px;
    width: 50px;
    font-size: 12px;
    line-height: 14px;
  }
}

/* line 365, ../sass/partials/main.scss */
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
@media (max-width: 767px) {
  /* line 365, ../sass/partials/main.scss */
  ul.tabs {
    background: #E0DED8;
  }
}
@media (min-width: 768px) {
  /* line 365, ../sass/partials/main.scss */
  ul.tabs {
    display: flex;
    justify-content: space-between;
  }
}

/* line 376, ../sass/partials/main.scss */
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 34px 15px;
  cursor: pointer;
  font-family: 'SairaCondensed-Bold';
  text-transform: uppercase;
  background: #E0DED8;
}
@media (min-width: 1700px) {
  /* line 376, ../sass/partials/main.scss */
  ul.tabs li {
    font-size: 50px;
    line-height: 60px;
    padding: 30px 15px;
    text-align: center;
  }
}
@media (min-width: 1500px) {
  /* line 376, ../sass/partials/main.scss */
  ul.tabs li {
    font-size: 45px;
    line-height: 55px;
    padding: 34px 10px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 376, ../sass/partials/main.scss */
  ul.tabs li {
    font-size: 45px;
    line-height: 55px;
    padding: 34px 25px;
    text-align: center;
  }
}
@media (min-width: 992px) {
  /* line 376, ../sass/partials/main.scss */
  ul.tabs li {
    font-size: 38px;
    line-height: 45px;
    padding: 16px 15px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  /* line 376, ../sass/partials/main.scss */
  ul.tabs li {
    font-size: 30px;
    line-height: 35px;
    padding: 16px 15px;
    text-align: center;
    width: 50%;
    border-radius: 25px 25px 0 0;
  }
}
@media (max-width: 767px) {
  /* line 376, ../sass/partials/main.scss */
  ul.tabs li {
    font-size: 20px;
    line-height: 24px;
    padding: 15px 15px;
    text-align: center;
  }
}

/* line 425, ../sass/partials/main.scss */
ul.tabs li.current {
  background: #353535;
  color: #fff;
}

/* line 430, ../sass/partials/main.scss */
.tab-content {
  display: none;
  background: #fff;
  padding: 15px;
}
@media (max-width: 767px) {
  /* line 430, ../sass/partials/main.scss */
  .tab-content {
    padding: 0;
  }
}

/* line 439, ../sass/partials/main.scss */
.tab-content.current {
  display: inline-block;
  width: 100%;
}

/* line 443, ../sass/partials/main.scss */
#html5-watermark div {
  display: none;
  background: transparent !important;
}

/* line 446, ../sass/partials/main.scss */
.html5-image {
  padding: 0 !important;
}

/* line 449, ../sass/partials/main.scss */
.divdescription {
  padding: 15px 25px;
  border: 6px solid #353535;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: initial;
  text-align: left;
}
@media (min-width: 992px) {
  /* line 449, ../sass/partials/main.scss */
  .divdescription {
    font-size: 18px;
    line-height: 25px;
  }
}
/* line 457, ../sass/partials/main.scss */
.divdescription b {
  font-family: 'Norwester-Regular';
  text-transform: uppercase;
  font-weight: 100;
  color: #FF6900;
}
@media (min-width: 992px) {
  /* line 457, ../sass/partials/main.scss */
  .divdescription b {
    font-size: 40px;
    line-height: 50px;
  }
}

/* line 467, ../sass/partials/main.scss */
.wplightbox {
  font-family: 'HelveticaNeueLTStd-Md';
  text-decoration: underline;
  text-transform: none;
  color: #fff;
}
/* line 470, ../sass/partials/main.scss */
.wplightbox:hover {
  color: #fff;
}

/* line 472, ../sass/partials/main.scss */
.html5-title {
  display: none;
}

@media (min-width: 992px) {
  /* line 473, ../sass/partials/main.scss */
  .html5-elem-box, .html5-elem-wrap {
    height: 587px !important;
  }
}

/* line 477, ../sass/partials/main.scss */
.divtitle {
  font-size: 27px;
  margin: 0 !important;
  background: #353535;
  padding: 30px 0;
  color: #fff;
  z-index: 99999;
  font-family: 'Norwester-Regular';
  text-transform: uppercase;
}
@media (min-width: 992px) {
  /* line 477, ../sass/partials/main.scss */
  .divtitle {
    font-size: 55px !important;
    line-height: 65px;
    text-align: center;
  }
}

/* line 491, ../sass/partials/main.scss */
.name a {
  padding-right: 100px;
}

/* line 495, ../sass/partials/main.scss */
.mobmenu-content li {
  border-bottom: 1px solid #414042;
}

/* line 498, ../sass/partials/main.scss */
.mobmenu-content a {
  font-family: 'SairaCondensed-Bold' !important;
  text-transform: uppercase !important;
}

@media (min-width: 1200px) {
  /* line 504, ../sass/partials/main.scss */
  h1, .h1 {
    font-size: 46px;
  }
}
@media (min-width: 992px) {
  /* line 504, ../sass/partials/main.scss */
  h1, .h1 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  /* line 504, ../sass/partials/main.scss */
  h1, .h1 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  /* line 504, ../sass/partials/main.scss */
  h1, .h1 {
    font-size: 25px;
  }
}

/* line 511, ../sass/partials/main.scss */
.chat-mobile {
  display: none !important;
}
@media (max-width: 767px) {
  /* line 513, ../sass/partials/main.scss */
  .chat-mobile a {
    color: transparent !important;
    font-size: 0 !important;
    padding: 27px 20px !important;
  }
}
@media (max-width: 767px) {
  /* line 511, ../sass/partials/main.scss */
  .chat-mobile {
    display: block !important;
    position: absolute;
    bottom: 0;
    border: none;
    width: 100%;
    height: 60px;
    background: #e0ded8 url("../images/chatmenu.svg") no-repeat;
    background-position: center;
  }
}

/* line 1, ../sass/partials/_header.scss */
header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
}
@media (max-width: 767px) {
  /* line 1, ../sass/partials/_header.scss */
  header {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/partials/_header.scss */
  header {
    height: 120px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/partials/_header.scss */
  header {
    height: 100px;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/partials/_header.scss */
  header {
    height: 90px;
  }
}

/* line 11, ../sass/partials/_header.scss */
.main-logo img {
  height: auto;
}
@media (min-width: 992px) {
  /* line 11, ../sass/partials/_header.scss */
  .main-logo img {
    width: 187px;
  }
}
@media (min-width: 768px) {
  /* line 11, ../sass/partials/_header.scss */
  .main-logo img {
    width: 150px;
  }
}

/* line 17, ../sass/partials/_header.scss */
.website-header {
  background: #353535;
}
@media (min-width: 1200px) {
  /* line 17, ../sass/partials/_header.scss */
  .website-header {
    margin: 0;
    padding: 21px 100px;
  }
}
@media (min-width: 992px) {
  /* line 17, ../sass/partials/_header.scss */
  .website-header {
    margin: 0;
    padding: 21px 80px;
  }
}
@media (min-width: 768px) {
  /* line 17, ../sass/partials/_header.scss */
  .website-header {
    margin: 0;
    padding: 21px 50px;
  }
}

@media (max-width: 767px) {
  /* line 33, ../sass/partials/_header.scss */
  #chat-icon {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 33, ../sass/partials/_header.scss */
  #chat-icon {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999;
  }
}
/* line 41, ../sass/partials/_header.scss */
#chat-icon img {
  max-height: 180px;
  width: 100%;
}

/* line 1, ../sass/partials/_footer.scss */
#footer {
  background: #fff;
  width: 100%;
  padding: 0;
  border-top: 1px solid #cccc;
}
@media (min-width: 1200px) {
  /* line 10, ../sass/partials/_footer.scss */
  #footer .footer-left {
    padding: 50px 25px 40px;
  }
}
@media (min-width: 992px) {
  /* line 10, ../sass/partials/_footer.scss */
  #footer .footer-left {
    padding: 65px 25px 15px;
  }
}
@media (min-width: 768px) {
  /* line 10, ../sass/partials/_footer.scss */
  #footer .footer-left {
    padding: 25px 25px 15px;
    border-right: 1px solid #cccc;
  }
}
@media (max-width: 767px) {
  /* line 10, ../sass/partials/_footer.scss */
  #footer .footer-left {
    padding: 25px 25px 15px;
  }
}
/* line 27, ../sass/partials/_footer.scss */
#footer .footer-right .item {
  text-align: center;
  color: #464652;
  font-family: 'Univers-Condensed';
  cursor: pointer;
}
@media (min-width: 768px) {
  /* line 27, ../sass/partials/_footer.scss */
  #footer .footer-right .item {
    border-right: 1px solid #cccc;
    vertical-align: middle;
    display: inline-grid;
    align-items: center;
  }
  /* line 38, ../sass/partials/_footer.scss */
  #footer .footer-right .item:last-child {
    border: none;
  }
}
@media (max-width: 767px) {
  /* line 27, ../sass/partials/_footer.scss */
  #footer .footer-right .item {
    border-top: 1px solid #cccc;
    padding: 15px 0;
    height: 100% !important;
  }
}
/* line 49, ../sass/partials/_footer.scss */
#footer .footer-right .item .f-content div {
  padding-top: 15px;
}
/* line 51, ../sass/partials/_footer.scss */
#footer .footer-right .item .f-content div a {
  color: #464652;
}
/* line 61, ../sass/partials/_footer.scss */
#footer .footer-left-first p {
  font-family: 'Univers-CondensedLight';
  font-size: 42px;
  color: #464652;
  line-height: 50px;
}
@media (min-width: 1200px) {
  /* line 61, ../sass/partials/_footer.scss */
  #footer .footer-left-first p {
    font-size: 42px;
    line-height: 50px;
  }
}
@media (min-width: 992px) {
  /* line 61, ../sass/partials/_footer.scss */
  #footer .footer-left-first p {
    font-size: 35px;
    line-height: 42px;
  }
}
@media (min-width: 768px) {
  /* line 61, ../sass/partials/_footer.scss */
  #footer .footer-left-first p {
    font-size: 21px;
    line-height: 31px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  /* line 61, ../sass/partials/_footer.scss */
  #footer .footer-left-first p {
    text-align: center;
    font-size: 27px;
    line-height: 40px;
  }
}
/* line 86, ../sass/partials/_footer.scss */
#footer .footer-left-first p span {
  color: #ED1B2F;
}
/* line 91, ../sass/partials/_footer.scss */
#footer .footer-left-second {
  padding-top: 22px;
}
/* line 93, ../sass/partials/_footer.scss */
#footer .footer-left-second p {
  font-family: 'Univers-CondensedLight';
  text-align: center;
}
@media (min-width: 1200px) {
  /* line 93, ../sass/partials/_footer.scss */
  #footer .footer-left-second p {
    font-size: 26px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  /* line 93, ../sass/partials/_footer.scss */
  #footer .footer-left-second p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 767px) {
  /* line 93, ../sass/partials/_footer.scss */
  #footer .footer-left-second p {
    text-align: center;
    font-size: 18px;
    line-height: 35px;
  }
}
@media (min-width: 992px) {
  /* line 113, ../sass/partials/_footer.scss */
  #footer .footer-left-third {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  /* line 113, ../sass/partials/_footer.scss */
  #footer .footer-left-third {
    padding-top: 25px;
  }
}
/* line 120, ../sass/partials/_footer.scss */
#footer .footer-left-third p {
  text-align: center;
  font-family: 'Univers-CondensedLight';
  color: #464652;
}
@media (min-width: 1200px) {
  /* line 120, ../sass/partials/_footer.scss */
  #footer .footer-left-third p {
    font-size: 26px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  /* line 120, ../sass/partials/_footer.scss */
  #footer .footer-left-third p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 767px) {
  /* line 120, ../sass/partials/_footer.scss */
  #footer .footer-left-third p {
    text-align: center;
    font-size: 18px;
    line-height: 35px;
  }
}

/* line 141, ../sass/partials/_footer.scss */
.request-call {
  display: none;
}
/* line 143, ../sass/partials/_footer.scss */
.request-call input[type="submit"] {
  background: rgba(0, 0, 0, 0.26);
  padding: 8px 50px !important;
  border: none;
  color: #fff !important;
}
/* line 149, ../sass/partials/_footer.scss */
.request-call input {
  border: none;
  border: 1px solid #fff;
  padding: 8px 20px !important;
  color: #666666 !important;
  font-family: Univers-Condensed !important;
  font-size: 15px;
  border-radius: 8px;
}
/* line 160, ../sass/partials/_footer.scss */
.request-call input:focus {
  outline: none;
  border: 1px solid #33A3DC;
}
/* line 165, ../sass/partials/_footer.scss */
.request-call .gform_wrapper .gform_footer {
  text-align: center;
}

/* line 173, ../sass/partials/_footer.scss */
.footer-last {
  background: #464652;
  padding: 15px 25px;
  color: #A2A2A8;
  font-weight: 600;
}
/* line 174, ../sass/partials/_footer.scss */
.footer-last .left {
  text-align: center;
}
@media (max-width: 767px) {
  /* line 174, ../sass/partials/_footer.scss */
  .footer-last .left {
    text-align: center;
  }
}
/* line 183, ../sass/partials/_footer.scss */
.footer-last a {
  color: #E9E9EA;
  font-weight: 100;
}
/* line 185, ../sass/partials/_footer.scss */
.footer-last .right .main-nav {
  float: right;
}
/* line 188, ../sass/partials/_footer.scss */
.footer-last .right li {
  padding-left: 15px;
}
/* line 190, ../sass/partials/_footer.scss */
.footer-last .right li:after {
  content: '|';
  padding-left: 15px;
}
/* line 193, ../sass/partials/_footer.scss */
.footer-last .right li:after:last-child {
  display: none;
}
/* line 200, ../sass/partials/_footer.scss */
.footer-last .right li a {
  color: #E9E9EA;
}

@font-face {
  font-family: 'Norwester-Regular';
  src: url("../fonts/JF/Norwester-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'SairaCondensed-Bold';
  src: url("../fonts/JF/SairaCondensed-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url("../fonts/JF/HelveticaNeueLTStd-Md.otf") format("opentype");
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/JF/SourceSansPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Univers-67CondensedBold';
  src: url("../fonts/Univers-67CondensedBold.otf") format("opentype");
}
@font-face {
  font-family: 'Univers-47-CondensedLight';
  src: url("../fonts/Univers-47-CondensedLight.otf") format("opentype");
}
@font-face {
  font-family: 'Univers-CondensedBold';
  src: url("../fonts/Univers-CondensedBold.otf") format("opentype");
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/* line 57, ../sass/app.scss */
html {
  overflow-x: hidden;
}

/* line 61, ../sass/app.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: 'Univers-CondensedLight';
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 73, ../sass/app.scss */
#nav-container > .container {
  position: relative;
}
@media (max-width: 767px) {
  /* line 73, ../sass/app.scss */
  #nav-container > .container {
    padding: 0px;
  }
}

/* line 79, ../sass/app.scss */
#logo {
  position: absolute;
  top: 0;
  background: url("../images/sabres-logo.png") 0 0 no-repeat;
}
@media (max-width: 767px) {
  /* line 79, ../sass/app.scss */
  #logo {
    width: 217px;
    left: -5px;
    background-size: 220px 60px;
    z-index: 1000;
  }
}
@media (min-width: 768px) {
  /* line 79, ../sass/app.scss */
  #logo {
    width: 437px;
    left: -20px;
    z-index: 1000;
  }
}
@media (min-width: 992px) {
  /* line 79, ../sass/app.scss */
  #logo {
    width: 437px;
    left: -50px;
    z-index: 0;
  }
}
@media (min-width: 1200px) {
  /* line 79, ../sass/app.scss */
  #logo {
    width: 437px;
    left: -40px;
    z-index: 0;
  }
}
/* line 104, ../sass/app.scss */
#logo a {
  display: block;
  height: 119px;
}
@media (max-width: 767px) {
  /* line 104, ../sass/app.scss */
  #logo a {
    height: 60px;
  }
}

@media (max-width: 650px) {
  /* line 114, ../sass/app.scss */
  #main-content {
    margin: 0;
  }
}
/* line 117, ../sass/app.scss */
#main-content span.news-date {
  display: block;
  float: right;
  padding-left: 10px;
  color: #fff;
}

@media (max-width: 650px) {
  /* line 124, ../sass/app.scss */
  #content-wrap {
    margin: 0;
  }
}

/* line 130, ../sass/app.scss */
.has-club-logos #content {
  padding-top: 0;
}

/* line 134, ../sass/app.scss */
#sidebar {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 137, ../sass/app.scss */
.has-club-logos #sidebar {
  padding-top: 20px;
}

/* line 142, ../sass/app.scss */
.fsp-adv-social-media {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  /* line 142, ../sass/app.scss */
  .fsp-adv-social-media {
    display: none;
  }
}
/* line 149, ../sass/app.scss */
.fsp-adv-social-media li {
  display: inline-block;
  margin-left: 5px;
}
/* line 152, ../sass/app.scss */
.fsp-adv-social-media li.share-title {
  display: none;
}
/* line 154, ../sass/app.scss */
.single .fsp-adv-social-media li.share-title {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  position: relative;
  top: -4px;
}
/* line 161, ../sass/app.scss */
.fsp-adv-social-media li a {
  font-size: 30px;
  font-family: "webfont";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6F2C8E !important;
}
/* line 165, ../sass/app.scss */
.fsp-adv-social-media li a:hover {
  color: #00549c !important;
  text-decoration: none;
}

/* line 173, ../sass/app.scss */
.lower-section {
  margin-top: 20px;
}

/* line 177, ../sass/app.scss */
.title-404 {
  display: none;
}

/*# sourceMappingURL=app.css.map */
